[submodule "supra/lib/forge-std"]
	path = supra/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "supra/lib/openzeppelin-contracts"]
	path = supra/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "pyth/lib/forge-std"]
	path = pyth/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "redStone/lib/forge-std"]
	path = redStone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "redStone/lib/redstone-oracles-monorepo"]
	path = redStone/lib/redstone-oracles-monorepo
	url = https://github.com/redstone-finance/redstone-oracles-monorepo
[submodule "redStone/lib/openzeppelin-contracts"]
	path = redStone/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
