[submodule "supra/lib/forge-std"]
	path = supra/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "supra/lib/openzeppelin-contracts"]
	path = supra/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
